.form-main {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  max-width: 428px;


}

label {
  color: #405c60;
  position: relative;
}

input {
  outline: none;
}

input:not( [ type = 'checkbox' ] ) {
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  margin-top: 4px;
  padding: 10px;
  transition: all 0.2s linear;
  width: 95%;
}

/* estilo do botão submit */
button {
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 8px 5px;
  text-shadow: 0 1px 1px #333;
  transition: all 0.2s linear;
  width: 100%;
}

button:hover {
  background: #4ab3c6;
}

/* marcando os links para mudar de um formulário para outro */
.link {
  background: #e1eaeb;
  border-radius: 0 0  5px 5px;
  border-top: 1px solid #dbe5e8;
  color: #7f7c7c;
  font-size: 16px;
  height: 20px;
  left: 0;
  padding: 17px 30px 20px;
  position: absolute;
  text-align: right;
  width: 440px;
}


/* fadeInLeft */

@keyframes fadeInLeft {

  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* fadeOutLeft */

@keyframes fadeOutLeft {

  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

