body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.navbar-header {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 55px;
  overflow: hidden;
  width: 40%;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.movie-card-storyline {
  font-size: 16px;
  text-align: justify;
}

.detail {
  background-color: #343a40;
  border-radius: 25px;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  text-decoration: none;
}

.detail:hover {
  background-color: black;
}

.movie-card-detail {
  background-color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  padding: 12px 20px;
}

.movie-details-page {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  height: 40%;
  margin: 150px;
  overflow: hidden;
  width: 40%;
}

.movie-details-page > p {
  padding: 0 30px;
}

.buttonContainer {
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  display: flex;
}

.buttonLink {
  background-color: rgb(31, 31, 72);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}

.buttonLink:hover {
  background-color: rgb(60, 60, 146);
  text-decoration: none;
}

.buttonLink.top {
  background-color: whitesmoke;
  color: black;
  padding-top: 10px;
}

.background-video {
  filter: opacity(90%);
  height: 100%;
  margin-left: -30px;
  object-fit: fill;
  padding: 0;
  position: fixed;
  z-index: -1;
}

.new-movie {
  margin: 150px;
}
