
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background-color: #121212;
  min-height: 100vh;
}

header
{
  display: flex;
  background-color: #e50914;
  justify-content: center;
  height: 50px;
  font-size: 3em;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0px 20px;
  height: 65px;
}

header a {
  font-size: medium;
  background-color: #121212;
  color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 3%;
  text-decoration: none;
}

header a:hover
{
  color: #e56c09;
  font-size: 20px;
  transition: 0.5s;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card 
{
  position: relative;
  width:  600px;
  height: 550px;
  background-color: rgb(37, 37, 37);
  align-items: center;
  margin: 15px ;
  overflow: hidden;
}

.container .card:hover {
  box-shadow: 0 20px 50px rgba(160, 51, 51, 0.2);
}

footer{
  background-color: #e50914c0;
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: auto;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 26, 255);
  border-radius: 4%;
  color: #121212;
  border: 1px solid wheat;
  padding: 5px;
  font-size: 20px;
  color: #fff;
}

img{
  height: 383px;
  width: 590px;
} 

.container .card::before
{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: rgba(255,255,2555,0.1);
  pointer-events: none;
}

.container .card .content
{
  padding: 5px;
  text-align: center;
}

.container .card .content h2
{
  position: absolute;
  right: 30px;
  font-size: 4em;
  font-weight: 800;
  color: #e50914;
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content h2
{
  opacity: 1;
  transform: translateY(-70px);
}

.container .card:hover .content p
{
  position: relative;
  font-size: 1.5em;
  color: #fff;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;
}

.container .card .content a
{
  display: none;
}
.container .card:hover .content a
{
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  background-color: #fff;
  color: #0c002b;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 15px;
}

.container .card span 
{
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover span
{
  opacity: 1;
}

.container .card span:nth-child(1)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #e50914d0);
  animation: animate1 2s linear infinite;
}

@keyframes animate1
{
  0%
  {
    transform: translatex(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}
.container .card span:nth-child(2)
{
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #e50914d0);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

.container .card span:nth-child(3)
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #e50914d0);
  animation: animate3 2s linear infinite;
}

@keyframes animate3
{
  0%
  {
    transform: translatex(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

.container .card span:nth-child(4)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #e50914d0);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}
